<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">

    <system>
        <tab id="exponea" translate="label" sortOrder="5">
            <label>Exponea</label>
        </tab>
 
        <section id="exponea_exponeafree" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Exponea Free</label>
            <tab>exponea</tab>
            <resource>Exponea_ExponeaFree::exponea_exponeafree</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Exponea Free</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Whether data tracking and web optimizations are enabled.
                    </comment>
                </field>
                <field id="public_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public token</label>
                </field>
                <field id="private_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Private token</label>
                </field>
                <field id="import_products" translate="label comment" type="button" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Exponea\ExponeaFree\Block\System\Config\ImportProducts</frontend_model> 
                </field>
            </group>
        </section>
 
    </system>
   
</config>
